@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --orange: #F07C41;
  --blue: #05284E;
  overflow-y: hidden;
  text-transform: uppercase;
}

body {
  text-align: center;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  background-color: var(--orange);
  color: var(--blue);
  
}

button {
  border-style: none;
  background-color: var(--orange);
  color: var(--blue);
  cursor: pointer;
}

#endgame {
  display: none;
}

#result {
  font-size: 2.20em;
}

#scorestable {
  font-size: 1.50em;
}

.container {
  margin: 1.25em;
}


#reset, #vs-text {
  font-size: 1.50em;
  margin: 0.50em;
}

.choices {
  font-size: 3em;
  background-color: var(--orange);
  color: var(--blue);
  margin: 0.4em;
}

@media only screen and (min-width: 0px) and (max-width: 340px) {
  
/*  body {
  font-size: 1em;
  } */

  .choices {
    font-size: 3em;
    margin: 0 0.35em 0 0.35em;
  }

  #reset, #vs-text {
    font-size: 1.50em;
    margin: 1.35em;
    padding: 0 1.25em 0 1.25em;
  }

  #scorestable {
    font-size: 1.50em;
  }

  .container {
    margin: 1.50em;
  }
  
  #endgame {
    display: none;
  }

}


@media only screen and (min-width: 460px) and (max-width: 544px) {

  body {
    font-size: 1.65em;
    }
  
    .choices {
      font-size: 3em;
      margin: 0 0.25em 0 0.25em;
    }
    
    #reset, #vs-text {
      font-size: 1.65em;
      margin: 0 0 2em 0;
    }
  
    #scorestable {
      font-size: 1.65em;
    }
  
    .container {
      margin: 1.25em;
    }
    
    #endgame {
      display: none;
    }

}

@media only screen and (min-width: 545px) and (max-width: 849px) {

  body {
    font-size: 1.75em;
    }
  
    .choices {
      font-size: 3.5em;
      margin: 0 0.25em 0 0.25em;
    }
    
    #reset, #vs-text {
      font-size: 0.75em;
      margin: 0 0 2em 0;
    }
  
    #scorestable {
      font-size: 1.75em;
    }
  
    .container {
      margin: 1.25em;
    }
    
    #endgame {
      display: none;
    }

}



@media only screen and (min-width: 850px) {
  
  body {
  font-size: 2em;
  }

  .choices {
    font-size: 4em;
    margin: 0 0.25em 0 0.25em;
  }
  
  #reset, #vs-text {
    font-size: 1em;
    margin: 0 0.25em 0 0.25em;
  }

  #scorestable {
    font-size: 1em;
  }

  .container {
    margin: 1.25em;
  }
  
  #endgame {
    display: none;
  }
  
}